.search-filters-panel {
    border-right: 1px solid cadetblue;
    width: 20%;
    min-width: 17rem;
    padding: 0 1rem;
    overflow-y: auto;

    .search-filter-group {
        margin: 1rem 0;

        button:not(:last-child) {
            margin-right: 1rem;
        }
    }
}