.login-form-container {
    h1 {
        color: cadetblue;
    }

    flex: 1;
    overflow-y: auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-form {
        border: 2px solid cadetblue;
        border-radius: 5px;
        padding: 1.5rem;

        .form-group {
            display: flex;
            flex-direction: column;
            margin: 1rem;

            label {
                margin: .5rem 0;
            }
        }
    }
}