.pictures-cards {
    flex: 1;
    overflow-y: auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.progress-spinner-block {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10rem;
}

.no-pictures-container {
    display: flex;
    justify-content: center;
    flex: 1;

    .no-pictures {
        color: cadetblue;
        display: inline-flex;
        flex-direction: column;
        margin: 15rem;
        align-items: center;

        span {
            margin: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}